body {
    background-color: #edf6f9;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Hind', sans-serif;
}

#first {
    border: solid 1px black;
    background-color: #ffddd2;
    padding: 5px;
    margin: 10px 10px;
    width: 80%;
    text-align: center;
}

#second {
    border: solid 1px black;
    background-color: #83c5be;
    padding: 5px;
    margin: 10px 10px;
    width: 80%;
    text-align: center;
}

#ottapic {
    height: 200px;
    width: 80%;
    max-width: 80%;
}

#ottapic2 {
    height: 200px;
    width: 80%;
}
@media (max-width: 800px){
    body {
        display: grid;
        grid-template-columns: 1fr;
        
    }
}

  